{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Authors</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="page">

        {% include '../navs/main.html' %}

        <div class="container">
            <h1>Authors</h1>

            <div class="card">
                {% if authors %}
                <ul class="matrix">
                    {% for a in authors %}
                    <li>
                        <a href="{% url 'author_profile' a.serial %}" class="author-card">
                            {% if a.profileImage %}
                                <div>
                                    <img class="avatar avatar-small" src="{{ a.profileImage }}" alt="{{ a.displayName }} avatar">
                                </div>
                            {% endif %}
                            <h3 class="profile-link">{{ a.displayName }}</h3>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No authors yet.</p>
                {% endif %}
            </div>
        </div>

    </div>
</body>

</html>