{% load static core_media %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ follow_type }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="page">
        {% include '../navs/main.html' %}

        <div class="container">
            <h1>{{ follow_type }}</h1>

            <div class="card">
                {% if authors %}
                
                
                <ul>
                    {% for author in authors %}
                    <li class="follow-item">
                        {% author_avatar_url author request as author_avatar_src %}
                        <img class="avatar avatar-small" src="{{ author_avatar_src }}" alt="{{ author.displayName }} avatar">
                        <a class="profile-link" href="{% url 'author_profile' author.serial %}">
                            {{ author.displayName }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                
                {% else %}
                <p>No {{ follow_type }}.</p>
                {% endif %}
            </div>
        </div>

    </div>
</body>

</html>
