{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title> {{ entry.title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/entry.js' %}?v=likes-ui-5"></script>
</head>

<body>
    <div class="page">

        {% include '../navs/main.html' %}
        <div class="container">
            <div class="card">
                <ul>
                    {% include './fragments/entry.html' with entry=entry %}
                </ul>
            </div>
        </div>
    </div>

    <script type="module" src="{% static 'js/markdown-renderer.js' %}?v=comments-md-3"></script>
</body>

</html>
