{% load static %}

<li>
    <div style="display: flex; flex-direction: row; justify-content: space-between;"> <!-- Couldnt get this to inherit from stylesheet, works with inline styles though? -->
        <div class="small"><strong>{{ entry.published }}</strong></div>
        <div class="small"><strong>{{ entry.visibility }}</strong></div>
    </div>

    <a class="profile-link" href="{% url 'author_profile' entry.author.serial %}">{{ entry.author.displayName }}: </a>

    {% if entry.content_type == "text/markdown" %}
        <div class="content entry-content markdown-source">{{ entry.content|escape }}</div>
    {% elif entry.content_type == "image" and entry.image_url %}
        <div class="entry-image">
            <img src="{{ entry.image_url }}" alt="Image entry">
            {% if entry.content %}
            <div class="caption">{{ entry.content }}</div>
            {% endif %}
        </div>
    {% else %}
        <div class="entry-content plain-text">{{ entry.content|linebreaksbr }}</div>
    {% endif %}

    {% if request.user.is_authenticated and entry.author.serial == request.user.author_profile.serial or request.user.is_staff %}
    <div class="small edit">
        <a href="{% url 'entry_edit' author.serial entry.serial %}">Edit</a>
        <a href="{% url 'entry_delete' author.serial entry.serial %}">Delete</a>
    </div>
    {% endif %}
</li>